.heti {
  font-family: 'LXGW WenKai', monospace;

  blockquote>p {
    margin: 0;
  }

  figure {
    position: relative;
    height: 400px;
    z-index: 1;
    margin: 1rem 0;

    img {
      display: block;
      object-fit: cover;
      width: 100vw;
      height: 100%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      box-shadow: 0 0 5px 3px #eee;
    }

    figcaption {
      display: none;
    }
  }


  a {
    border-block-end: 0px solid transparent;
    padding-block-end: 0px;

    @apply transition-colors;
    @apply text-bPrimary-500 hover:text-bPrimary-600;
    @apply break-all inline-block;
    @apply inline-flex;
    text-decoration: none;
    position: relative;

    &::before {
      border-block-end: 0px solid transparent;
      padding-block-end: 0px;
      content: '';
      position: absolute;
      bottom: 0px;

      width: 0;
      height: 1px;
      @apply bg-bPrimary-5;
      @apply transition;
      transition-property: width;
    }

    &:hover {
      border-block-end: 0px solid transparent;
      padding-block-end: 0px;

      &::before {
        width: 100%;
      }
    }
  }

  .header-anchor {
    &::after {
      content: '#';
    }
  }
}

div[class*='language-'] {
  position: relative;
  background: var(--code-bg-color);
  margin: 2rem 0;

  @apply rounded-lg;

  pre {
    font-size: 16px;
    margin: 0;
    padding: 1rem;

    background: transparent;
    overflow: auto;

    code {
      width: fit-content;
      display: block;
    }
  }

  .copy {
    display: none;
  }

  .lang {
    position: absolute;
    top: 0px;
    right: 1.5rem;
    transform: translateY(-100%);

    @apply font-mono font-bold;
    background: var(--code-bg-color);

    padding: 2px 1.5rem;

    @apply rounded-lg;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }


  .highlighted {
    display: inline-block;
    width: calc(100% + 48px);

    margin: 0 -1rem;
    padding: 0 1rem;

    background: var(--code-highlight-color);
  }
}

@media (prefers-color-scheme: light) {
  .heti div[class*='language-'] {
    --code-bg-color: #f8f8f8;
    --code-highlight-color: #e7e9eb;
  }

  .shiki span {
    color: var(--shiki-light) !important;
  }
}

@media (prefers-color-scheme: dark) {
  .heti div[class*='language-'] {
    --code-bg-color: #161617;
    --code-highlight-color: #161617;
  }

  .shiki span {
    color: var(--shiki-dark) !important;
  }
}